body { 
    background-color: #555;
    color: #555;
    font-family: sans-serif;
    text-align: center;
}

.movie-holder {
    background-color:#000;
    height: 695px;
    overflow-y: auto;
}

h1 {
    font-size: 1.33rem;
    display: inline-block;
    margin-right: 40px;
    margin-top: 0;
}

.divvy img {
    width: 170px;
    height: 230px;
    margin: 10px;
    cursor: pointer;
}

.container {
    height: 89vh;
    width:860px;
    padding: 20px;
    margin: 20px auto;
    /* margin: 50px auto; */
    /* padding: 30px; */
    /* width: 650px; */
    /* height: 65vh; */
    border-radius: 10px;
    border: 3px solid #999;
    background-color: #ccc;
}

.divvy {
    display: inline-block;
    background-color: #333;
    width: 200px;
    height: 360px;
    margin: 7px;
    color: #fff;
    font-size: 0.8rem;
    /* font-weight: bold; */
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.sort-div {
    padding-bottom: 20px;
}

select {
    margin-right: 30px;
    padding: 3px 10px;
    font-size: 1.05rem;
    width: 140px;
}

label {
    font-size: 1.1rem;
}

input {
    width: 18px;
    height: 18px;
}

.sort-div {
    display: inline-block;
}

.thumb {
    cursor: pointer;
}

#th-up-tot, #th-down-tot {
    color: #ddd;
}

#year-hm {
    font-size: 0.9rem;
    color: #ccc;
}

#movie-name {
    margin-top: 0;
}

#main-movie {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}